<h1>Flipper Demo</h1>

<ul>
  <li><%= link_to "Simple Demo", demo_simple_path %></li>
  <li><%= link_to "Users Demo", demo_users_path %></li>
  <li><%= link_to "Groups Demo", demo_groups_path %></li>
</ul>
